<html>
    <head>
        <title>Is anyone in Cam?</title>
    </head>
    <body>
        {% for place in places %}
            {% if place.people|length > 0 %}
                <p>
                    <h3>{{ place.name }}</h3>
                    <ul>
                        {% for person in place.people %}
                        <li>{{ person }}</li>
                        {% endfor %}
                    </ul>
                </p>
            {% endif %}
        {% endfor %}

        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(size=32) }}
            </p>
            <p>
                {{ form.place.label }}<br>
                {{ form.place() }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </body> 
</html>